* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
}

.container {
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.container:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.container-box {
    display: inline-block;
    padding: 20px;
}

.container header {
    border-top: 1px solid #DEDEDE;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 38px;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #b7b7b7;
    width: 100%;
}

.container header h3 {
    font-weight: normal;
}

/** header buttons
 ========================================= */

.header-buttons {
    text-align: right;
}

.header-buttons button {
    background: #fff;
    border: 1px solid #DEDEDE;
    cursor: pointer;
    padding: 5px 10px;
}

.header-buttons button:hover {
    background: #DEDEDE;
}

/** footer
 ========================================= */

footer {
    background: #252525;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 40px;
    width: 100%;
}

/** google trends
 ========================================= */

.google-trends-box {
    width: 33%;
}

.google-trends-box div {
    background: #DEDEDE;
    float: left;
    min-height: 400px;
    width: 100%;
}

/** Apps
 ========================================= */

.apps-box {
    width: calc(25% - 5px);
}

.apps-box iframe {
    height: 125px;
    width: 100%;
}

/** Links
 ========================================= */

.links-box {
    width: calc(25% - 5px);
}

.links-box img {
    width: 100%;
}

/** Downloads
 ========================================= */

.downloads {
    text-align: center;
}

.downloads a {
    background: #252525;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 30px;
    text-decoration: none;
    width: 25%;
}

/** Downloads
 ========================================= */

.reference-entry {
    display: inline-block;
    float: left;
    padding: 20px;
    width: 50%;
}

.reference-entry pre {
    background: white;
    color: #454545;
    font-family: "Courier New", Courier, Georgia, serif;
    margin: 10px 0;
    padding: 20px;
    word-wrap: break-word;
}