@import 'compass';
@import 'compass/reset';
@import 'compass/css3';

@import "icons/*.png";
@include all-icons-sprites;

@import 'grid/grid';


// //////////////////////
// CONFIG
// //////////////////////

$total_width: 100%;
$container_margin: 1%;
$gutter_width: 2%;
$max_width: 100%;

$color_yellow: #fff200;
$color_nearlyblack: #252525;
$color_nearlynearlyblack: #454545;
$color_body: #636363;
$color_headlines: #b7b7b7;



// //////////////////////
// MODULE STYLES
// //////////////////////
@import "examples/modules/global-styles";
@import "examples/modules/overlay";
@import "examples/modules/nav";
@import "examples/modules/header-example";
@import "examples/modules/footer";

footer {
	width: 100%;
}

footer .center{
	margin: 0 auto;
}

article{
	@include container();
	margin-bottom: $gutter_width;
	height: 80px;
}

article div{
	height: 80px;
	background: $color_yellow;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	color: $color_nearlynearlyblack;
	line-height: 80px;
}

#grid{
	margin-bottom: 0px;
	height: 0px;

	div{
		background: none;

		div{
			background: black;
		}
	}
}

@include generate_helper_classes();


