* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: transparent;
    background-size: cover;
    color: #18191b;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 100%;
    width: 100%;
}

header {
    max-width: 100%;
    padding: 30px 0 20px 60px;
    position: relative;
    width: 100%;
}

header img {
    height: 100px;
    max-width: 100%;
}

header time {
    color: #ffffff;
    opacity: 0;
    position: absolute;
    right: 70px;
    text-shadow: 1px 1px 5px #333333;
    top: 50px;
}

header time .time {
    display: block;
    font-size: 2.5em;
    text-align: right;
}

header time .date {
    clear: both;
    display: block;
    font-size: 1em;
    text-align: right;
}

/** Content
 =============================================== */

.content {
    height: calc(100% - 500px);
    padding: 0 40px;
    width: 100%;
}

.content .feed-tile {
    max-width: 360px;
}

.content .feed-tile header {
    padding: 0;
}

/** Module listing
 =============================================== */

.modules {
    float: left;
    padding: 30px 60px 20px 60px;
    width: 100%;
}

.modules-module {
    cursor: pointer;
    float: left;
    overflow: hidden;
    margin: 2px;
    opacity: 0;
    position: relative;
    top: 20px;
    transition: box-shadow .1s ease-out, transform .1s ease-out;
    transition-delay: .1s;
    width: calc(100% / 7);
}

.modules-module:hover {
    /*box-shadow: rgba(32, 32, 32, 0.05) 0 16px 16px;*/
    /*outline: 1px solid #DEDEDE;*/
    transform: translate(0, -4px);
}

.modules-module:after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.modules-module img {
    background: #fff;
    max-height: 100%;
    position: absolute;
    width: 100%;
}

@media (max-width: 1400px) {
    .modules-module {
        width: calc(100% / 6);
    }
}

@media (max-width: 1100px) {
    .modules-module {
        width: calc(100% / 4 - 4px);
    }
}

@media (max-width: 900px) {
    .modules-module {
        width: calc(100% / 3 - 4px);
    }
}

@media (max-width: 480px) {
    .modules {
        padding: 30px 10px 20px 10px;
    }

    .modules-module {
        width: calc(100% / 2 - 4px);
    }
}

@media (max-width: 660px) {
    header time {
        display: none;
    }
}
