footer{
	width: $total_width;
	background: #252525;
	color: white;
	margin-top: 60px;

	div{

		width: $total_width;
		max-width: $max_width;
		margin: 0 auto;	
	
		
		h3{
			font-family: 'Raleway', Arial, sans-serif;
			font-weight: 200;
			font-size: 16px;
			padding-top: 80px;
			padding-bottom: 0px;
			text-align: center;
			letter-spacing: 5px;
		}

		#company{
			@include clearfix();
			@include container();
			max-width: $max_width;
			text-align: center;

			a{			
				text-align: center;
				color: white;
				text-decoration: none;
				height: 22px;
				display: block;
				background: url('/img/logo_bottom.png') top center no-repeat;
					
				font-family: 'Raleway', Arial, sans-serif;
				font-weight: 900;
				font-size: 24px;
				letter-spacing: 8px;
				color: white;
				padding-left: 13px;
				padding-top: 113px;
				
			}
		}

		#meta{
			@include clearfix();
			@include container();
			max-width: $max_width;
			padding-top: 20px;
			margin-top: 80px;
			padding-bottom: 20px;
			border-top: 1px solid #3b3b3b;

			div:first-child{
				@include column(12);
				text-align: left;
				font-family: Arial, Helvetica, sans-serif;
				font-weight: normal;
				font-size: 10px;
				color: #898989;
				line-height: 12px;
				text-align: center;
				margin-top: 55px;
			}

			div:nth-child(2){
				@include column(12);
				@include push(0);
				text-align: center;

				a{
					display: inline-block;
					width: 50px;
					height: 50px;
					text-indent: -1000px;
					overflow: hidden;
					text-align: left;
					opacity: 1;
			  		filter: alpha(opacity = 100);
			  		@include transition(0.25s ease-out);
				}

				a:hover{
					opacity: 0.6;
			  		filter: alpha(opacity = 60);
				}

				a:first-child{
					@include icons-sprite(facebook-white);
				}

				a:nth-child(2){
					@include icons-sprite(twitter-white);
				}
			}
		}
	}
}


// ///////////////////////////
// MEDIA QUERIES
// ///////////////////////////

@media screen and (min-width: 460px) {
	footer {
		div{
			#meta{
				div:first-child{
					font-size: 12px;
				}

				div:nth-child(2){
				}
			}
		}
	}		
}

@media screen and (min-width: 700px) {
	footer {
		div{
			#meta{
				div:first-child{
					@include column(9);
					font-size: 12px;
					text-align: left;
					margin-top: 0px;
					line-height: 50px;
				}

				div:nth-child(2){
					@include column(3);
					@include push(9);
					text-align: right;
				}
			}
		}
	}	
}