/** header buttons
 ========================================= */

.header-buttons {
    text-align: right;
}

.header-buttons .button,
.header-buttons button {
    background: #fff;
    border: 1px solid #DEDEDE;
    color: #333333;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}

.header-buttons .button:hover,
.header-buttons button:hover {
    background: #DEDEDE;
}

/** footer
 ========================================= */

footer {
    background: #252525;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 40px;
    width: 100%;
}

.footer-container header {
    padding-bottom: 20px;
}

.footer-container-links a {
    color: #fff;
}

/** google trends
 ========================================= */

.google-trends-box {
    float: left;
    width: 33%;
}

.google-trends-box div {
    background: #DEDEDE;
    float: left;
    min-height: 400px;
    width: 100%;
}

@media (max-width: 900px) {
    .google-trends-box {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .google-trends-box {
        width: 100%;
    }
}

/** Apps
 ========================================= */

.apps-box {
    float: left;
    width: 25%;
}

.apps-box iframe {
    height: 125px;
    width: 100%;
}

@media (max-width: 900px) {
    .apps-box {
        width: 33%;
    }
}

@media (max-width: 768px) {
    .apps-box {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .apps-box {
        width: 100%;
    }
}

/** Links
 ========================================= */

.links-box {
    float: left;
    width: 25%;
}

.links-box img {
    width: 100%;
}

@media (max-width: 900px) {
    .links-box {
        width: 33%;
    }
}

@media (max-width: 768px) {
    .links-box {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .links-box {
        width: 100%;
    }
}

/** Downloads
 ========================================= */

.downloads {
    text-align: center;
    padding: 0 20px;
}

.downloads a {
    background: #252525;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 30px;
    text-decoration: none;
    width: 25%;
}

@media (max-width: 900px) {
    .downloads a {
        margin-bottom: 10px;
        width: 50%;
    }
}

@media (max-width: 500px) {
    .downloads a {
        margin-bottom: 10px;
        width: 100%;
    }
}

/** Downloads
 ========================================= */

.reference-entry {
    display: inline-block;
    float: left;
    padding: 20px;
    width: 50%;
}

.reference-entry pre {
    background: white;
    color: #454545;
    font-family: "Courier New", Courier, Georgia, serif;
    margin: 10px 0;
    overflow: auto;
    padding: 20px;
    word-wrap: break-word;
}

@media (max-width: 900px) {
    .reference-entry {
        width: 100%;
    }
}